@model StoreViewModel
<vc:navbar-of-main-cat></vc:navbar-of-main-cat>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<form id="filterForm" method="GET" asp-area="" asp-controller="Store" asp-action="FilterProducts">
					<input type="hidden" name="id" value="@Model.Products.FirstOrDefault()?.MainCategory.Id" />
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Ilgili Kategoriler</h3>
						<div class="checkbox-filter">
							@foreach (var subCategory in Model.SubCategories)
							{
							
								<div class="input-checkbox">
									<input type="checkbox" id="subcategory-@subCategory.Id" name="subCategory" value="@subCategory.Name">
									<label for="subcategory-@subCategory.Id">
										<span></span>
										@subCategory.Name
										<small>(120)</small>
									</label>
								</div>

							}

						</div>
					</div>
					<!-- /aside Widget -->
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Fiyat</h3>
						<div class="price-filter">
							<div id="price-slider"></div>
							<div class="input-number price-min">
								<input id="price-min" type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
							<span>-</span>
							<div class="input-number price-max">
								<input id="price-max" type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Markalar</h3>
						<div class="checkbox-filter">

							@foreach (var brand in Model.Brands)
							{
								<div class="input-checkbox">
									<input type="checkbox" id="brand-@brand.Id" name="brand" value="@brand.Name">
									<label for="brand-@brand.Id">
										<span></span>
										@brand.Name
										<small>(578)</small>
									</label>
								</div>
							}



						</div>
					</div>

					<!-- /aside Widget -->
					<button style="margin-top:50px;background-color:darkred; " class="btn btn-danger btn-block" type="submit">Filtrele</button>
			    </form>
			</div>
			<!-- /ASIDE -->
			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Sort By:
							<select class="input-select">
								<option value="0">Popular</option>
								<option value="1">Position</option>
							</select>
						</label>

						<label>
							Show:
							<select class="input-select">
								<option value="0">20</option>
								<option value="1">50</option>
							</select>
						</label>
					</div>
					<ul class="store-grid">
						<li class="active"><i class="fa fa-th"></i></li>
						<li><a href="#"><i class="fa fa-th-list"></i></a></li>
					</ul>
				</div>
				<!-- /store top filter -->
				<!-- store products -->
					<div class="row">
				@foreach (var product in Model.Products)
					{
						<div class="col-md-4 col-xs-6">
							<div class="product">
								<div class="product-img">
									<img src="~/images/products/@product.ImageUrl" alt="">
									<div class="product-label">
										<span class="sale">-30%</span>
										<span class="new">NEW</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category">@product.SubCategory.Name-@product.Brand.Name</p>
									<h3 class="product-name"><a href="#">@product.Name</a></h3>
									<h4 class="product-price">@($"{product.Price:C2}") <del class="product-old-price">@($"{product.Price+2500:C2}")</del></h4>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product-btns">
										<a class="add-to-wishlist" style="cursor:pointer"><i class="fa fa-heart-o"></i><span class="tooltipp">Beğen</span></a>
										<a asp-area="" asp-controller="ProductDetails" asp-action="Index" asp-route-id="@product.Id" class="quick-view" style="cursor:pointer"><i class="fa fa-eye"></i><span class="tooltipp">İncele</span></a>
									</div>
								</div>
								<div class="add-to-cart">
									<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
								</div>
							</div>
						</div>
			        }
				
				</div>
				<!-- /store products -->
				<!-- store bottom filter -->
				<div class="store-filter clearfix">
				
					<ul class="store-pagination">
						<li class="active">1</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

@section TopScripts{
	<script>
		document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
			checkbox.addEventListener('change', function () {
				document.getElementById('filterForm').submit();
			});
		});
	</script>
}