@model List<ProductViewModel>


<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12 buttons-grid">
				<h3>Arama Sonuçları</h3>
			
			</div>
			@if (Model.Count == 0)
			{
				<div style="margin-bottom:200px;" class="alert alert-danger col-md-12">Arama sonuçlarına uygun ürün bulunmamaktadır.</div>
			}
			<!-- STORE -->
			<div id="store" class="col-md-12">

				<!-- store products -->
				<div class="row">
					@foreach (var product in Model)
					{
						<div class="col-md-4 col-xs-6">
							<div class="product">
								<div class="product-img">
									<img src="~/images/products/@product.ImageUrl" alt="">
									<div class="product-label">
										<span class="sale">-30%</span>
										<span class="new">NEW</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category">@product.SubCategory.Name-@product.Brand.Name</p>
									<h3 class="product-name"><a href="#">@product.Name</a></h3>
									<h5 class="product-category"><a href="#">@product.Description</a></h5>
									<h4 class="product-price">@($"{product.Price:C2}") <del class="product-old-price">@($"{product.Price + 2500:C2}")</del></h4>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product-btns">
										@if (User.Identity.IsAuthenticated)
										{
											<a asp-area="" asp-controller="FavProducts" asp-action="ToggleFavorite" asp-route-productId="@product.Id" style="cursor:pointer"><i style="font-size:20px;" class="fa fa-heart-o"></i><span class="tooltipp"></span></a>
										}
										else
										{
											<a asp-area="" asp-controller="Account" asp-action="Login" style="cursor:pointer"><i style="font-size:20px;" class="fa fa-heart-o"></i><span class="tooltipp"></span></a>
										}
										<a asp-area="" asp-controller="ProductDetails" asp-action="Index" asp-route-id="@product.Id" class="quick-view" style="cursor:pointer"><i style="font-size:20px;" class="fa fa-eye"></i><span class="tooltipp">İncele</span></a>
									</div>
								</div>
								@if (User.Identity.IsAuthenticated)
								{
									<form asp-area="" asp-controller="Basket" asp-action="AddToBasket" method="post">
										<input type="hidden" value="@product.Id" name="productId" />
										<input type="hidden" value="1" name="quantity" />
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Sepete Ekle</button>
										</div>
									</form>
								}
								else
								{
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a asp-area="" asp-controller="Account" asp-action="Login">Sepete Ekle</a></button>
									</div>
								}

							</div>
						</div>
					}

				</div>
				<!-- /store products -->

			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
