@model AdminEditProductViewModel


  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4>Ürün Bilgileri</h4>
                        </div>
                        <div>
                            <a asp-area="Admin"
                               asp-controller="Product"
                               asp-action="Index"
                               class="btn btn-dark btn-sm">
                                Ürün Listesi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form asp-area="Admin"
                                  asp-controller="Product"
                                  asp-action="Edit"
                                  method="post">
                                   <input type="hidden" asp-for="@Model.EditProductViewModel.Id" />
                                <div class="d-flex justify-content-between">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductViewModel.Name" class="control-label"></label>
                                        <input asp-for="@Model.EditProductViewModel.Name" class="form-control" />
                                        <span asp-validation-for="@Model.EditProductViewModel.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductViewModel.Price" class="control-label"></label>
                                        <input asp-for="@Model.EditProductViewModel.Price" class="form-control" />
                                        <span asp-validation-for="@Model.EditProductViewModel.Price" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-4">
                                    <div class="icheck-primary d-inline">
                                        <input asp-for="@Model.EditProductViewModel.IsHome" type="checkbox" checked id="checkboxSuccess1">
                                        <label asp-for="@Model.EditProductViewModel.IsHome" for="checkboxSuccess1">
                                        </label>
                                    </div>
                                </div>
                                   
                                </div>
                                <div class="d-flex justify-content-between">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.EditProductViewModel.Url" class="control-label"></label>
                                    <input asp-for="@Model.EditProductViewModel.Url" class="form-control" />
                                    <span asp-validation-for="@Model.EditProductViewModel.Url" class="text-danger"></span>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductViewModel.ImageUrl" class="control-label"></label>
                                        <input asp-for="@Model.EditProductViewModel.ImageUrl" class="form-control" />
                                        <span asp-validation-for="@Model.EditProductViewModel.ImageUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.EditProductViewModel.Description" class="control-label"></label>
                                    <textarea asp-for="@Model.EditProductViewModel.Description" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.EditProductViewModel.Description" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.EditProductViewModel.Properties" class="control-label"></label>
                                    <textarea id="Properties" asp-for="@Model.EditProductViewModel.Properties" class="form-control" rows="10"></textarea>
                                    <span asp-validation-for="@Model.EditProductViewModel.Properties" class="text-danger"></span>
                                </div>



                                <div class="form-group">
                                    <label asp-for="SubCategoryList" class="control-label"></label>
                                    <select asp-items="@Model.SubCategoryList" asp-for="SubCategoryId" class="form-control">
                                    </select>
                                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="BrandList" class="control-label"></label>
                                    <select asp-items="@Model.BrandList" asp-for="BrandId" class="form-control">
                                    </select>
                                    <span asp-validation-for="BrandId" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary float-right btn-sm">Güncelle</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles {
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.min.css">
}
@section BottomScripts{
   @await Html.PartialAsync("_SummerNotePartial")
}