  @model List<ProductViewModel>
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            
                <div class="col-sm-6">
                    <h3>Ürün Bİlgileri</h3>
                </div>
            
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-md-12 float-right">
                    @if (ViewBag.TransferInf)
                    {
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           class="btn btn-dark btn-large float-right mb-3">
                            Ürün Listesi
                        </a>
                    }else
                    {
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Create"
                           class="btn btn-primary btn-sm float-right mb-3">
                            Yeni Ürün Ekle
                        </a>
                    }
                </div>
                <div class="col-12">
                    <div class="card">
                      
                        <!-- /.card-header -->
                        <div class="card-body">
                             
                            <table id="myDataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ürün</th>
                                        <th>Ana Kategori</th>
                                        <th>Alt Kategori</th>
                                        <th>Marka</th>
                                        <th>Fiyat(TL)</th>
                                        <th>Ana Sayfa</th>
                                        <th>Aktif</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                      @foreach (var product in Model)
                                        {
                                        <tr>
                                            <td>@product.Id</td>
                                            <td>@product.Name</td>
                                            <td>@product.MainCategory.Name</td>
                                            <td>@product.SubCategory.Name</td>
                                            <td>@product.Brand.Name</td>
                                            <td>@product.Price</td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input onchange="changeIsHome(this,'@product.Id');"type="checkbox"class="custom-control-input"
                                                     asp-for="@product.IsHome" id="isHomeSwitch-@product.Id" />
                                                    <label class="custom-control-label" for="isHomeSwitch-@product.Id"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input onchange="changeIsActive(this,'@product.Id');"type="checkbox"class="custom-control-input"
                                                     asp-for="@product.IsActive" id="isActiveSwitch-@product.Id" />
                                                    <label class="custom-control-label" for="isActiveSwitch-@product.Id"></label>
                                                </div>
                                            </td>
                                            <td>
                                                @if (!ViewBag.TransferInf)
                                                {
                                                    <a asp-area="Admin"
                                                       asp-controller="Product"
                                                       asp-action="Edit"
                                                       asp-route-id="@product.Id"
                                                       class="btn btn-outline-secondary btn-sm">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="@("#DeleteProduct-" + product.Id)" data-url="@Url.Action($"Delete/{product.Id}")"> <i class="fas fa-trash"></i></button>
                                                    @await Html.PartialAsync("_DeleteProductPartialView", product)

                                                }else
                                                {
                                                <a asp-area="Admin"
                                                   asp-controller="Product"
                                                   asp-action="SoftDelete"
                                                   asp-route-id="@product.Id"
                                                   class="btn btn-outline-secondary btn-sm">
                                                        <i class="fas fa-undo-alt"></i>
                                                </a>
                                                }
                                               
                                                   
                                        
                                            </td>
                                                </tr>
                                        }
                            
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles {
    @await Html.PartialAsync("_DataTablesCssPartial")

}
@section TopScripts {
   <script>
        const changeIsHome = (element, id) => {
            $.ajax({
                url: `/Admin/Product/UpdateIsHome/${id}`,
                type: 'GET',
                success: function (response) {
                    $(element.id).attr("checked", response ? "checked" : "");
                },
                error: function (err) {
                    console.error(err);
                }
            });
        };

        const changeIsActive = (element, id)=> {
            $.ajax({
                url: `/Admin/Product/UpdateIsActive/${id}`,
                type: 'GET',
                success: function (response) {
                    $(element.id).attr("checked", response ? "checked" : "");
                },
                error: function (err) {
                    console.error(err);
                }
            });
        };
   </script>

}
@section BottomScripts {
    @await Html.PartialAsync("_DataTablesJsPartial")
  
   

}