@model List<ProductViewModel>
<!-- Section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-12">
				<div class="section-title text-center">
					<h3 class="title">Benzer Ürünler</h3>
				</div>
			</div>

			@{
				int counter = 0;
				foreach (var item in Model)
				{
					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="~/images/products/@item.ImageUrl" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">@item.MainCategory.Name-@item.SubCategory.Name</p>
								<h3 class="product-name"><a href="#">@item.Name</a></h3>
								<h4 class="product-price">@($"{item.Price:C2}") <del class="product-old-price">@($"{item.Price+2500:C2}")</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<a style="cursor:pointer"><i class="fa fa-heart-o"></i><span class="tooltipp">Beğen</span></a>
									<a asp-area="" asp-controller="ProductDetails" asp-action="Index" asp-route-id="@item.Id" style="cursor:pointer"><i class="fa fa-eye"></i><span class="tooltipp">İncele</span></a>
								</div>
							</div>
							<form asp-area="" asp-controller="Basket" asp-action="AddToBasket" method="post">
								<input type="hidden" value="@item.Id" name="productId" />
								<input type="hidden" value="1" name="quantity" />
								<div class="add-to-cart">
									<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Sepete Ekle</button>
								</div>
							</form>
						</div>
					</div>
					<!-- /product -->
					counter++;
					if (counter % 4 == 0)
					{
						<div class="clearfix visible-sm visible-xs"></div>
					}
				}
			}

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /Section -->