
@{
	Layout = "";
}
@model UserMessageViewModel
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Rhythmic Realm-İletişim</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/contact2/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/contact2/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/contact2/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/contact2/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/contact2/assets/css/lightbox.css">

        <style>
            .logo_container {
                margin-top: 20px;
            }

            .logo_container a {
                font-size: 24px;
                color: #d21737;
                font-weight: 700;
                text-transform: uppercase;
            }

            .logo_container a span {
                color: black;
            }
            </style>

-->
    </head>
    
    <body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <div class="logo_container">
                            <a href="/">Rhythmic<span>Realm</span></a>
                        </div>
                      
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Bize ulaşın</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90186.37207676383!2d-80.13495239500924!3d25.9317678710111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ad1877e4a82d%3A0xa891714787d1fb5e!2sPier%20Park!5e1!3m2!1sen!2sth!4v1637512439384!5m2!1sen!2sth" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                      <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Sorun, öneri ve destek talepleriniz için; </h2>
                        <span>Ekiplerimiz en kısa sürede sizinle iletişime geçecektir.</span>
                    </div>
                    <form id="contact" asp-area="Admin" asp-controller="Message" asp-action="NewContactMessage"  method="post">
                        <div class="row">
                   
                          <div class="col-lg-6">
                            <fieldset>
                              <input asp-for="@Model.UserMail"  type="text"  placeholder="Email adresiniz" required="">
                              <span class="text-danger" asp-validation-for="@Model.UserMail"></span>
                            </fieldset>
                          </div>
                          <div class="col-lg-6 ">
                                <fieldset>
                                    <input asp-for="@Model.Subject" type="text" placeholder="Konu" required="">
                                    <span class="text-danger" asp-validation-for="@Model.Subject"></span>
                                </fieldset>
                            </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea asp-for=@Model.Content  rows="6"  placeholder="Mesajınız" required=""></textarea>
                              <span class="text-danger" asp-validation-for="@Model.Content"></span>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Bültenimize Abone Olarak %30 İndirimden Yararlanabilirsiniz</h2>
                    </div>
                    <form id="subscribe" asp-area="" asp-controller="Home" asp-action="Index" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Adınız Soyadınız" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" placeholder="Email adresiniz" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Mağaza adresi:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                                <li>Telefon:<br><span>010-020-0340</span></li>
                                <li>Ofis adresi:<br><span>North Miami Beach</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Çalışma saatleri:<br><span>07:30 AM - 9:30 PM </span></li>
                                <li>Email:<br><span>rhythmicsite@hotmail.com</span></li>
                                <li>Sosya medya:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->


    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/contact2/assets/js/popper.js"></script>
    <script src="~/contact2/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/contact2/assets/js/owl-carousel.js"></script>
    <script src="~/contact2/assets/js/accordions.js"></script>
    <script src="~/contact2/assets/js/datepicker.js"></script>
    <script src="~/contact2/assets/js/scrollreveal.min.js"></script>
    <script src="~/contact2/assets/js/waypoints.min.js"></script>
    <script src="~/contact2/assets/js/jquery.counterup.min.js"></script>
    <script src="~/contact2/assets/js/imgfix.min.js"></script>
    <script src="~/contact2/assets/js/slick.js"></script>
    <script src="~/contact2/assets/js/lightbox.js"></script>
    <script src="~/contact2/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>

</html>
